django
pillow
djangorestframework
django-filter
django-cors-headers
django-ranged-fileresponse
python-magic
sorl-thumbnail
psycopg2-binary
django-environ 
gunicorn==20.0.4
sqlparse==0.3.1 
djangorestframework-simplejwt
