{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}Избранное{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include 'tags.html' with url='favorite' %}
    </div>
    <div class="card-list">
        {% for favorite in page %}
            {% include 'recipe.html' with recipe=favorite.recipe favorite=favorite %}
        {% endfor %}
    </div>
    {% include 'paginator.html' with tag=tag %}
</main>
{% endblock %}
{% block js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
{% endblock %}