{% extends 'base.html' %}
{% load staticfiles %}
{% load user_filters %}
{% block title %}Мои подписки{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block header %}
    {% include 'header_auth.html' %}
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for person in page %}
        <div class="card-user" data-author="{{person.author.id}}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{person.author}}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in person.author.recipes.all %}
                        {% if forloop.counter0  < 3 %}
                        <li class="card-user__item">
                            <div class="recipe">                            
                                {% load thumbnail %}
                                {% thumbnail recipe.image "240" crop="center" upscale=True as im %}
                                <a href="{% url 'single_recipe' recipe.id %}" class="link" target="_blank">
                                    <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image">
                                </a>
                                {% endthumbnail %}
                                <h3 class="recipe__title">{{recipe.title}}</h3>
                                <p class="recipe__text"><span class="icon-time"></span> {{recipe.time_to_cook}} мин.</p>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li class="card-user__item">
                        {% if person.author.recipes.all.count > 3 %}
                        <a href="{% url 'author_recipe' person.author.id %}" class="card-user__link link">Еще {{person.author.recipes.all.count | add:"-3"}} рецептов...</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        {% endfor %}
    </div>
   {% include 'paginator.html' %}
</main>
{% endblock %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
