{% load static %}
{% load user_filters %}
<div class="card" data-id="{{recipe.id}}">
    {% load thumbnail %}
    {% thumbnail recipe.image "240" crop="center" upscale=True as im %}
    <a href="{% url 'single_recipe' recipe.id %}" class="link" target="_blank">
        <img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image">
    </a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'single_recipe' recipe.id %}" target="_blank">{{recipe.title}}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
            <li class="card__item"><span class="badge badge_style_{{tag.color}}">{{tag.title}}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{recipe.time_to_cook}} мин</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author_recipe' recipe.author.id %}" style="color: black">{{recipe.author}}</a></p>
        </div>
    </div>
    {% if favorite %}
    <div class="card__footer">
        {% if favorite.recipe|in_list:user.shop_list.all %}
        <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
        {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% endif %}
        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
    </div>
    {% else %}
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if recipe|in_list:user.shop_list.all %}
            <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
            {% else %}
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
            {% if recipe.favorites|in_favorites_list:user %}
            <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>